<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demomybatisexample.mapper.ArticleMapper">

    <select id="getArticle"
            parameterType="long"
            resultMap="articleResultMap">
        SELECT id,
               title,
               id_author
        FROM ARTICLES
        WHERE id = #{id}
    </select>

    <select id="findAll"
            resultType="com.example.demomybatisexample.beans.Article"
            resultMap="articleResultMap">
        SELECT id,
               title,
               id_author
        FROM ARTICLES
    </select>

    <resultMap id="articleResultMap"
               type="com.example.demomybatisexample.beans.Article">
        <result property="id" column="id"/>
        <result property="title" column="title"/>

        <association property="hasAuthor" column="id_author" select="selectIfHasAuthor" />

<!--        Outra forma de associar um tabela com outra-->
<!--        <association property="author" column="id_author"-->
<!--                     select="com.example.demomybatisexample.mapper.AuthorMapper.getAuthor"/>-->

        <collection property="author" select="com.example.demomybatisexample.mapper.AuthorMapper.getAuthor" column="id_author"/>
    </resultMap>

    <select id="selectIfHasAuthor" parameterType="map" resultType="boolean">
        SELECT
            EXISTS(
                    SELECT 1
                    FROM AUTHOR
                    WHERE id = #{id}
                )
    </select>
</mapper>
